
footer{
    /* border: 1px solid red; */
    /* box-shadow: 0 0 10px rgba(129, 4, 232, 0.804); */
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    height: 17vh;
    width: 99vw;

    color: rgb(128, 128, 128);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    cursor: default;

    flex-wrap: wrap;
    margin-bottom: 10px;
}
footer .foot1{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
footer .foot1 img{
    /* border: 1px solid red; */
    height: 55px;
    width: 55px;
    border-radius: 100%;
}
footer .quicklinks table{
    /* border: 1px solid black; */
    /* border-collapse: collapse; */
    height: 7em;
    width: 20em;
    align-items: baseline;
}
footer .quicklinks table tr th{
    text-align: start;
    font-size: 14px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
footer .quicklinks table tr td a{
    text-decoration: none;
    color: rgb(117, 117, 117);
}
footer .quicklinks table tr td a:hover{
    text-decoration:underline;
}

@media (max-width: 865px){
    footer{
        width: 100vw;
        box-shadow: 0 0 20px rgba(129, 4, 232, 0);
        height: 30vh;
        width: 100vw;
        flex-wrap: wrap-reverse;
        /* flex-direction: column-reverse; */
    }
    footer .foot1 img{
        /* border: 1px solid red; */
        height: 50px;
        width: 50px;
        border-radius: 100%;
    }
}

@media (max-width: 470px){
    footer{
        width: 100vw;
        box-shadow: 0 -1px 10px rgba(129, 4, 232, 0);
        height: 30vh;
        width: 100vw;
        flex-direction: column-reverse;
    }
    footer .foot1{
        /* border: 1px solid; */
        height: 10vh;
        gap: 20px;
        justify-content: space-evenly;
        font-size: x-small;
    }
    footer .foot1 img{
        height: 45px;
        width: 45px;
        border-radius: 100%;
    }
}