@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
/* font-family: "Lexend", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* font-family: "Ubuntu", sans-serif; */
body #home{

    /* border-bottom: 1px solid rgb(22, 22, 22); */
    /* border: 1px solid rgb(237, 0, 0); */
    background-color: transparent;

    background: url(../utils/Myprofile.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80vh;
    background-position-x: 40vw;

    height: 100vh;
    width: 99.9vw;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-family: "Ubuntu", sans-serif;
    flex-direction: column;
    gap: 10vh;
    transition: all 0.4s ease-in-out;
}

body #home .info{
    /* border: 1px solid rgb(237, 0, 0); */
    display: flex;
    flex-direction: column;
    cursor: default;
    color: rgb(145, 145, 145);
    gap: 30px;
    width: 50vw;
    margin-left: 20vh;
    margin-top: 20vh;
}
body #home .info .greet{
    /* border: 1px solid;  */
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* font-size:xx-large; */
    /* font-size: medium; */
}
.sahil{
    font-size: 75px;
    color: rgb(255, 255, 255);
}
body #home .info .subhead{
    font-size: xx-large;
}
body #home .info .summry{
    color: gray;
}
body #home .info .summry a{
    text-decoration: none;
    color: gray;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
body #home .info .summry a:hover{
    color: rgb(0, 76, 208);
}
/* body #home .info .btns{
    display: flex;
    flex-direction: row;
    gap: 40px;
} */
.mail_btn{
    cursor: pointer;
    border-radius: 5px;
    font-size: medium;
    font-family: "Lexend", sans-serif;
    border: 1.5px solid rgb(255, 255, 255);
    background-color: white;
    color: rgb(0, 0, 0);
    /* width: 10em; */
    /* height: 3em; */
    padding: 10px;
    transition: all 0.3s ease-in-out;
}
.mail_btn:hover{
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
}
body #home .info .btns .cv{
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    font-size:medium;
    color: rgb(255, 255, 255);
    border: 1.5px solid rgb(255, 255, 255);
    width: 10em;
    height: 3em;
    transition: all 0.5s ease-in-out;
}
body #home .info .btns .cv:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}


body #home .social{
    /* border: 1px solid black; */
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    gap: 20px;
    height: 100px;
    width: 40vw;
    margin-left: 20vh;
}

body #home .social .outer{
    border: 1.5px solid rgb(255, 255, 255);
    border-radius: 100%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
}
body #home .social .outer .inner{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-weight: bolder;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    transition: all 0.5s ease-in-out;
}
body #home .social .outer:hover{
    background-color:rgb(255, 255, 255) ;
}

@media (max-width: 1024px){
    body #home{
        gap: 10vh;
    }
    body #home .info{
        gap: 30px;
        width: 60vw;
        margin-left: 15vh;
        margin-top: 25vh;
    }
    body #home .social{
        margin-left: 15vh;
    }
}

@media (max-width: 768px){
    body #home{
        gap: 7vh;
        background-size: 80vh;
        background-position-x: 30vw;
    }
    body #home .info{
        gap: 30px;
        width: 60vw;
        margin-left: 10vh;
        margin-top: 25vh;
    }
    body #home .info .name{
        flex-wrap: wrap;
    }
    body #home .info .name{
        font-size:x-large;
    }
    body #home .info .subhead{
        font-size: x-larger;
    }
    body #home .info .summry{
        font-size: medium;
    }
    body #home .social{
        margin-left: 10vh;
    }
}

@media (max-width: 430px){
    body #home{
        /* width: 99.9vw; */
        /* border: 1px solid red; */
        gap: 2vh;
        overflow-x: hidden;

        background-size: 70vh;
        background-position-x: 0vw;
    }
    body #home .info{
        /* border: 1px solid; */
        gap: 30px;
        width: 97vw;
        margin-left: 0.5vw;
        margin-top: 30vh;
    }
    .sahil{
        font-size: 55px;
    }
    body #home .info .name{
        font-size: larger;
    }
    body #home .info .subhead{
        font-size: larger;
    }
    body #home .info .summry{
        font-size: small;
    }
    body #home .social{
        /* border: 1px solid; */
        width: 90vw;
        margin-left: 1vh;
    }
}