@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* font-family: "Ubuntu", sans-serif; */
body #project{
    /* border: 1px solid red; */
    margin-top: 20vh;
    /* margin-bottom: 20vh; */
    height: auto;
    width: 99.9vw;
    background-color: transparent;
    /* background-color: rgb(0, 0, 0); */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 7vh;
    transition: all 0.4s ease-in-out;
}

body #project section{
    /* border: 1px solid; */
    background-color: rgba(28, 28, 28, 0.816);
    display: flex;
    border-radius: 20px;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
    height: auto;
    padding: 20px 5px;
    font-family: "Ubuntu", sans-serif;
    /* box-shadow: -10px 0px 0px rgb(255, 255, 255); */
}
body #project section .project_info{
    /* border: 2px solid rgb(100, 147, 255); */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh;
    width: 35vw;
}
body #project section .project_info h2{
    font-size:5em;
    color: rgb(157, 157, 157);
    cursor: default;
}
body #project section .project_info h2::first-letter{
    color: rgb(255, 255, 255);
}

body #project section .project_info .prosumry{
    margin-left: 10px;
    cursor: default;
    color: gray;
}
body #project section .project_info .project_btns{
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    gap: 3vw;
}
body #project section .project_info .project_btns .visit_project{
    border-radius: 5px;
    font-size: medium;
    font-weight: 500;
    font-family: "Lexend", sans-serif;
    border: 1.5px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 9em;
    height: 3em;
    transition: all 0.5s ease-in-out;
}
body #project section .project_info .project_btns .visit_project:hover{
    cursor: pointer;
    background-color: transparent;
    color: rgb(255, 255, 255);
}


body #project section .visuals{
    /* border: 2px solid rgb(58, 164, 250); */
    width: 40vw;
    height: auto;
}

body #project section .visuals video{
    /* box-shadow: 0px 0px 50px rgba(129, 4, 232, 0.804); */
    width: 40vw;
    height: auto;
    border-radius: 10px;
}

body #project #rev{
    flex-direction: row-reverse;
    /* box-shadow: 10px 0px 0px rgb(255, 255, 255); side purple bar */
}
#sofImg{
    /* border: 1px solid red; */
    height: 42vh;
    /* size: 1x0px; */
}

@media (max-width: 770px){
    body #project section .project_info{
        height: 50vh;
        width: 40vw;
    }
    body #project section .project_info h2{
        font-size:3.5em;
    }
    #sofImg{
        /* border: 1px solid red; */
        height: 27vh;
    }
}

@media (max-width: 430px){

    body #project{
        /* border: 1px solid red; */
        padding-top: 5vh;
        padding-bottom: 10vh;
    }
    #sofImg{
        /* border: 1px solid red; */
        height: 30vh;
    }
    body #project section{
        /* border: 1px solid; */
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 95vw;
        height: auto;
        font-family: "Ubuntu", sans-serif;
        box-shadow: -10px 0px 0px rgb(129, 4, 232);
    }
    body #project section{
        /* border: 1px solid red; */
        /* background-color: green; */
        display: flex;
        flex-direction: column-reverse;
        border: none;
        box-shadow:none;
    }
    body #project section .project_info{
        /* border: 1px solid; */
        height: 50vh;
        width: 90vw;
        border: none;
    }
    body #project #rev{
        display: flex;
        flex-direction: column-reverse;
        border: none;
        box-shadow:none;
    }
    body #project section .visuals{
        /* border: 2px solid rgb(250, 58, 58); */
        width: 95vw;
        height: 40vh;
    }
    body #project section .visuals video{
        width: 95vw;
        height: 35vh;
    }
}