/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */
  
  body {
    background: black;
}

.slider-wrapper {
    /* border: 1px solid red; */
    height: 70vh;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    width: 95%;
    position: relative;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    overflow: hidden;
    padding: 50px 0;
  }
  
  .skill-cards {
    /* border: 1px solid red; */
    display: flex;
    gap: 40px;
    transition: transform 0.5s ease;
  }
  
  .card {
    /* border: 0.5px solid white; */
    box-shadow: 0px 0px 15px gray;
    cursor: default;
    width: 20vw;
    height: 60vh;
    min-height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 22px;
    padding: 10px 35px;
    /* padding: 25px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    transition: transform 0.5s ease, filter 0.5s ease;
  }
  
  .card h1 {
    color: white;
    margin-bottom: 10px;
    font-size: 45px;
  }
  
  .card p {
    color: #ffffff;
    backdrop-filter: brightness(0.5);
    font-size: large;
  }
  
  .card button {
    margin-top: 15px;
    padding: 10px 20px;
    background: white;
    color: black;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .card button:hover{
    background-color: gray;
  }
  
  /* Smaller side cards */
  .small {
    transform: scale(0.75);
    filter: brightness(45%);
  }
  
  /* Arrows */
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 28px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 10;
  }
  
  .left-arrow {
    left: 20px;
  }
  
  .right-arrow {
    right: 20px;
  }
  
  /* Responsive sizes */
  @media (max-width: 1024px) {
    .card {
      height: 85vh;
      width: 75vw;
    }
  }
  
  @media (max-width: 768px) {
    .arrow {
      display: none;
    }
    .card {
      width: 85vw;
    }
  }
  
  @media (max-width: 430px) {
    .card {
      height: 95vh;
      width: 95vw;
    }
  }
  