@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* font-family: "Ubuntu", sans-serif; */

#soft {
    /* border: 1px solid blue; */
    min-height: auto;
    width: 100%;
    padding: 6rem 2rem;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    transition: all 0.4s ease-in-out;
    font-family: "Ubuntu", sans-serif;
    overflow: hidden;
    margin-bottom: 20vh;
}

#soft .skills-grid {
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    width: 90%;
}

#soft .skill-card {
    overflow: hidden;
    background:transparent;
    cursor: pointer;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    transform: translateY(20px);
}

#soft .skill-card.fade-in {
    opacity: 1;
    transform: translateY(0);
}

#soft .skill-card:hover {
    box-shadow: 0 0 10px rgba(181, 181, 181, 0.804);
    transform: translateY(-10px);
}

#soft .skill-card i {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 1rem;
}

#soft .skill-card h3 {
    font-family: "Ubuntu", sans-serif;
    font-size: 1.5rem;
    color: #dddddd;
    margin-bottom: 0.5rem;
}

#soft .skill-card p {
    font-family: "Ubuntu", sans-serif;
    color: #808080;
}

/* Responsive Design */
@media (max-width: 768px) {
    #soft .skills-grid {
        grid-template-columns: 1fr;
    }
    #soft .videos{
        /* border: 1px solid rgb(106, 106, 106); */
        /* width: 100vw; */
        width: 0vw;
        visibility: hidden;
    }
    
    #soft .videos ul {
        width: 100vw;
        height: 50vh;
        gap: 5vw;

    }
    #soft .videos li {
        height: 45vh;
        width: 59vw;
    }
    #soft .videos ul li video{
    
        height: 20vh;
        width: 50vw;
    }
    #soft .videos li .add{
        height: 20vh;
        width: 40vw;
    }
    #soft .videos li .add img{
        height: 5vh;
        width: 7vw;
    }
    #soft .videos .addvideo input{
        height: 4vh;
        width: 30vw;
    
    }
}

@media (max-width: 450px){
    #soft .videos{
        /* border: 1px solid rgb(106, 106, 106); */
        width: 100vw;
    }
    
    #soft .videos ul {
        width: 100vw;
        height: 50vh;
        gap: 5vw;

    }
    #soft .videos li {
        height: 45vh;
        width: 99vw;
    }
    #soft .videos ul li video{
    
        height: 20vh;
        width: 80vw;
    }
    #soft .videos li .add{
        height: 20vh;
        width: 70vw;
    }
    #soft .videos li .add img{
        height: 5vh;
        width: 10vw;
    }
    #soft .videos .addvideo input{
        height: 4vh;
        width: 50vw;
    
    }
}