@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* font-family: "Ubuntu", sans-serif; */
#tech_stack{
    /* background-color: black; */
    /* border: 1px solid red; */
    height: 100vh;
    width: 99.9vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#tech_stack .container{
    /* box-shadow: 0px 10px 0px rgb(129, 4, 232); */
    border-radius: 0em;
    transform: translate(0%, 0%);
    width: 95vw;
    height: 90vh;
    /* background: #363636; */
    /* box-shadow: 0 3px 30px rgb(148, 17, 255); */
    overflow: hidden;
    /* background-size: calc(0px); */
}

#tech_stack .container .slide .item{
    /* border: 1px solid; */
    border-radius: 100%;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    background-position:right;
    background-size: 200px;
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-size: calc(0px);
    display: inline-block;
    transition: 0.5s;
}

/* .slide .item:nth-child(1), */
.slide .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 0;
    height: 0;
    /* visibility: hidden; */
}


.slide .item:nth-child(3){
    /* border: 1px solid blue; */
    left: 100%;
}
.slide .item:nth-child(4){
    left: calc(100% + 100px);
}
.slide .item:nth-child(5){
    left: calc(100% + 200px);
}

/* here n = 0, 1, 2, 3,... */
.slide .item:nth-child(1){
    right: calc(100% + 60px);
    opacity: 0;
}



.item .content{
    /* border: 1px solid red; */
    position: absolute;
    top: 30%;
    left: 50px;
    width: 30em;
    height: auto;
    text-align: left;
    color: #808080;
    transform: translate(0, -50%);
    font-family: "Ubuntu", sans-serif;
    display: none;
    /* backdrop-filter: blur(10px); */
}


.slide .item:nth-child(2) .content{
    display: block;
}

.content .name::first-letter{
    color: rgb(255, 255, 255);
}
.content .name{

    font-size: 70px;
    color: #898989;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
    margin-bottom: 20px;
}

.content .des{
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

#tech_stack .container .slide .item .content button{
    border-radius: 5px;
    font-size: medium;
    font-family: "Lexend", sans-serif;
    border: 1.5px solid rgb(255, 255, 255);
    background-color: rgba(127, 127, 127, 0);
    color: white;
    width: 11em;
    height: 3em;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
}
#tech_stack .container .slide .item .content button:hover{
    cursor: pointer;
    background-color: white;
    color: rgb(0, 0, 0);
}


@keyframes animate {
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}



.buttons{
    /* border: 1px solid red; */
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    gap: 5vw;
    bottom: 20px;
}

.buttons button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    /* border: 1px solid rgb(113, 1, 205); */
    background: none;
    transition: all 0.4s ease-in-out;
}
.buttons button:hover{
box-shadow: 0 1.3px 10px rgb(191, 191, 191);
}
.buttons button img{
    height: 17px;
}

@media (max-width: 770px){

    #tech_stack .container .slide .item .content .des{
        backdrop-filter: blur(5px);
    }
}

@media (max-width: 440px) {

    .content .name{
        font-size: 50px;
    }
    

    .item .content{
        /* border: 1px solid red; */
        top: 30%;
        left: 0px;
        width: 88vw;
    }
    
    .content .des{
       font-size: small;
    }
    
}